.signUp form {
    border: 1px solid black;
    max-width: 600px;
    margin: auto;
    padding: 0px;
    padding-top: 20px;
}

.signUp form input {
    border: 1px solid black;
    width: 90%;
    margin-bottom: 5px;
    padding: 5px;
}
.signUp .btn {
    display: inline-block;
    margin: 15px 0;
   
}

h2{
    font-size: 15px;
    font-weight: 700;
    color:red;
    text-transform: uppercase;


}


.signUp .btn:disabled{
    background-color: gray;
    cursor: no-drop;
}