.mainNav ul{
    padding: 0;
}

.mainNav ul li{
    padding: 15px;
    display: inline-block;
}


.mainNav ul li a{
  text-decoration: none;
}

.mainNav ul li a:hover{
    text-decoration: underline;
}