.App {
  text-align: center;
}

a {
  color:black;
}

.btn{
  background-color:#1b9bf0 ;
  cursor: pointer;
  padding: 10px;
  border:none;
  border-radius: 15px;
  color: white;
}

.btn:hover{
  background-color: blue;
}
.loadMore{
  margin:20px 0;
}

.btn_like{
  padding: 2px;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin:5px

}

.btn_unlike{
  padding: 2px;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin:5px+-

}